@model Persona

<h1>
    Información POST
</h1>

<form method="post">
    <label>Nombre: </label>
    <input type="text" class="form-control"
           name="nombre"/><br />
    <label>Edad: </label>
    <input type="text" class="form-control"
           name="edad"/><br/>
    <button type="submit" class="btn btn-info">
        Enviar datos
    </button>
</form>

@if (Model != null)
{
    <h1 style="color:blue">
        Nombre: @Model.Nombre, Edad: @Model.Edad
    </h1>
}
