<h1>Sumar números</h1>

<form method="post">
    <label>Número 1: </label>
    <input type="number" name="numero1"
           class="form-control"/><br/>
    <label>Número 2: </label>
    <input type="number" name="numero2"
           class="form-control"/><br/>
    <button type="submit" class="btn btn-success">
        Sumar números
    </button>
</form>
<h1 style="color:blue">
    @ViewData["MENSAJE"]
</h1>